<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="tr.org.liderahenk.liderconsole.commands.category"
            name="%commands.category">
      </category>         
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.AntivirusProfile"            
            name="%command.profile">
      </command>
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.AntivirusTask"            
            name="%command.task">
      </command>
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.AntivirusVersionTask"            
            name="%command.version.task">
      </command>
   </extension>
   
   <extension
       point="org.eclipse.ui.handlers">

		<!-- Profile handler -->
       	<handler
            class="tr.org.liderahenk.antivirus.handlers.AntivirusProfileHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.AntivirusProfile"> 
      	</handler>
      	
      	<!-- Task handler -->
       <handler
            class="tr.org.liderahenk.antivirus.handlers.AntivirusTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.AntivirusTask">
      </handler>
      	
      	<!-- Task handler -->
       <handler
            class="tr.org.liderahenk.antivirus.handlers.AntivirusVersionTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.AntivirusVersionTask">
      </handler>
      
  </extension>
  
  <extension
         point="org.eclipse.ui.menus">

		<!-- Add menu command for "profile definition" dialog -->
		<menuContribution
            locationURI="menu:tr.org.liderahenk.liderconsole.menus.ProfileDefinition?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.AntivirusProfile"
                  id="tr.org.liderahenk.liderconsole.commands.AntivirusProfile"
                  tooltip="%command.profile">
           		</command>
		</menuContribution>
      
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.ApplyTask?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.AntivirusTask"
                  id="tr.org.liderahenk.liderconsole.commands.AntivirusTask"
                  tooltip="%command.task">
                  	<visibleWhen>
                  	<and>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.available">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isLdapUserSelected">
				             	<equals
					                   value="false">
					            </equals>
				          	</with>
			          	</and>
					</visibleWhen>
           		</command>
		</menuContribution>
      
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.ApplyTask?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.AntivirusVersionTask"
                  id="tr.org.liderahenk.liderconsole.commands.AntivirusVersionTask"
                  tooltip="%command.version.task">
				  	<visibleWhen>
				  		<and>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isSingleEntrySelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
			          	</and>
					</visibleWhen>
           		</command>
		</menuContribution>
  </extension>
  
	<!-- Add extension point contribution for "policy execution" dialogs -->
	<extension
  		point="tr.org.liderahenk.liderconsole.core.policymenu">
  		<policyItem label="%command.profile" pluginName="antivirus" pluginVersion="1.0.0" profileCommandId="tr.org.liderahenk.liderconsole.commands.AntivirusProfile" />
  	</extension>
  	
</plugin>